---
layout: page
title: Posts
---

  <div class="home">
    {% for post in site.posts %}
      <div class="post-preview">

        <div class="post-title">
          <a class="headline" href="{{ post.url | prepend: site.baseurl }}">
            <h2>
              {{ post.title }}
            </h2>
            {% if post.update_date %}
              Updated: <span class="post-meta">{{ post.update_date | date: "%b %-d, %Y" }}</span>
            {% else %}
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            {% endif %}
          </a>
        </div>

        <div class="excerpt">
          {{ post.excerpt }}

          <div class="comment-count">
            <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a>
            <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
          </div>
        </div>

      </div>
    {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>


