<div class="sidebar-column">

  <div class="flex-item sidebar-header">
    <h1>Brendon Pierson</h1>
    <h2>{ Software Developer }</h2>
  </div>

  <div class="flex-item">
    <div class="sidebar-column menu-links">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <div class="sidebar-nav-link">
          <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="flex-item">
    <div class="flex-row-center social-icons-list">
      <div class="flex-item">
        <a href="https://github.com/BrendonPierson"><i class="fa fa-github fa-3x"></i></a>
      </div>
      <div class="flex-item">
        <a href="https://www.linkedin.com/in/brendonpierson"><i class="fa fa-linkedin-square fa-3x"></i></a>
      </div>
      <div class="flex-item">
        <a href="https://twitter.com/Biersons"><i class="fa fa-twitter fa-3x"></i></a>
      </div>
    </div>
  </div>

</div>