.about-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-div-text {
  padding: 0 10%;
}
.firstLetter {
  float: left; color: $red; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: Georgia; 
}
.about-div-image {
  img {
    border-radius: 100%;
  }
}
