$darkBlue: #2C3E50;
$red: #E74C3C;
$white: #ECF0F1;
$lightBlue: #3498DB;
$midBlue: #2980B9;
$lighterBlue: lighten($lightBlue, 43%);
$bodyText: 'Sura', serif; 
$headerText: 'Chonburi', serif;

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

.page-title {
  font-family: $headerText;
  color: $darkBlue;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}




/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


a {
  color: #000;
  transition: all .3s;
  &:hover {
    color: $red;
    transition: all .3s;
  }
}