html, body{
  padding: 0;
  margin: 0;
  color: #000;
  // color: $darkBlue;
  box-sizing: border-box;
  background-color: $white;
  font-family: $bodyText;
}

.topNav {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-row-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;  
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: center;
}

.flex-item {
  flex-grow: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 2%;
  margin: 0;
  float: left;
  height: 100%;
  width: 30%;
  background-color: $darkBlue;
}

.main-content {
  box-sizing: border-box;
  float: right;
  width:  70%;
  height: 100%;
  padding: 2%;
  margin: 0;
  background-color: $white;
}