html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  color: #000;
  box-sizing: border-box;
}

.topNav {
  display: none;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: center;
}

.flex-item {
  flex-grow: 1;
}

.sidebar {
  box-sizing: border-box;
  padding: 2%;
  margin: 0;
  float: left;
  height: 100%;
  width: 30%;
  background-color: $darkBlue;
}

.main-content {
  box-sizing: border-box;
  float: right;
  width:  70%;
  height: 100%;
  padding: 2%;
  margin: 0;
  background-color: $white;
}



// $darkBlue: #2C3E50;
// $red: #E74C3C;
// $white: #ECF0F1;
// $lightBlue: #3498DB;
// $midBlue: #2980B9;