@media screen and (max-width: 1000px) {
  .about-wrapper {
  flex-direction: column;
}

}
@media screen and (max-width: 620px) {
  .sidebar {
    display: none;
  }
  .main-content {
    width: 100%
  }
  .topNav {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .tech-list-item {
    width: 90%;
  }
}

