.home {
  display: flex;
  flex-flow: column nowrap;
}

.post-preview {
  display: flex;
  border-bottom: 1px solid $darkBlue;
  @media screen and (max-width: 730px) {
    flex-direction: column;
  }
}

.post-title {
  min-width: 30%;
}

.excerpt {
  padding: 0 5%;
  p:first-child:first-letter { float: left; color: $red; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: Georgia; }
}

.headline {
  text-decoration: none;
  transition: all .3s;
  &:hover {
    text-decoration: underline;
    transition: all .3s;
  }
}

.rss-subscribe {
  align-self: flex-end;
}