.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  box-sizing: border-box;
  display: flex;
  width: 90%;
  max-width: 1000px;
  // border-bottom: 1px solid $darkBlue;
}

.project-title-image {
  text-align: center;
  padding: 1% 3%;
  border-radius: 5%;
  margin: 2% 0 2% 0;
  background-color: $darkBlue;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: $lightBlue;
  }
  &:hover {
    a {
      text-decoration: underline;
      color: $red;
      transition: all .5s;
    }
  }
  @media screen and (max-width: 730px) {
    display: none;
  }
}

.show-small {
  @media screen and (min-width: 730px) {
    display: none;
  }
}

.project-text {
  align-self: center;
  padding: 0 5%;
}


.source-code {
  a {
    text-decoration: none;
    color: $darkBlue;
  }
  i {
    transform: scale(0);
    transition: all .5s;
    color: $darkBlue;
  }
  &:hover{
    i {
      transform: scale(1);
      color: $red;
      background-color: $darkBlue;
      border-radius: 100%;
      transition: all .5s;
    }
    a {
      color: $red;
      text-decoration: underline;
      transition: all .5s;
    }
  }
}
