.sidebar-column {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.sidebar-header {
  text-align: center;
  font-size: 1.3rem;
  color: $red;
  text-shadow: 0px 3px 2px #000;
}

.menu-links {
  text-align: center;
  a {
    color: $red;
    font-size: 1.5em;
    display: inline-block;
    padding: 5px;
    margin: 0 0 10px;
    text-align: center;
    text-decoration: none;
    border: 1px solid $red;
    border-radius: 5%;
    transition: background-color  ease-in-out .3s;
    transition: color ease-in-out .3s;
    &:hover {
      background-color: $lightBlue;
      color: $darkBlue;
      transition: background-color ease-in-out .3s;
      transition: color ease-in-out .3s;
    }
  }
}


.social-icons-list {
  margin-top: 10%;
  i {
    padding: .1em;
    border-radius: 100%;
    transition: background-color ease-in-out .3s;
    &:hover {
      background-color: $red;
      transition: background-color ease-in-out .3s;
    }
  }
  a {
    display: block;
    text-align: center;
    color: $lightBlue;
    transition: color ease-in-out .3s;
    &:hover {
      color: $darkBlue;
      transition: color ease-in-out .3s;
      transform: rotate(10deg);
      transform:scale(1.5,1.5);
    }
  }
}

// $darkBlue: #2C3E50;
// $red: #E74C3C;
// $white: #ECF0F1;
// $lightBlue: #3498DB;
// $midBlue: #2980B9;