.topNav {
  width: 100%;
  min-height: 50px;
  background-color: $darkBlue;
  color: $red;  
  i:hover{
    cursor: pointer;
  }
}

.nav-item {
  padding: 2% 4%;
}

#hamburger{
  &.open {
    transform: rotate(-90deg);
    transition: transform .3s;
  }
  &.close {
    transform: rotate(0deg);
    transition: transform .3s;
  }
}

#mobileNav{
  &.open {
    display: flex;
    height: 210px;
    transition: height .3s;
    div a{
      transform: translateY(0);
      transition: transform .3s;
    }
  }
  &.close {
    height: 0;
    transition: height .3s;
    div a{
      transform: translateY(-300px);
      transition: transform .3s;
    }
  }
}

.topNav-links-div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  background-color: $darkBlue;
  width: 100%;
  a {
    display: block;
    color: $red;
    margin: 10px 0;
    text-decoration: none;
    font-size: 1.3em;
  }
}
